{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Hangarin | Task Manager{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'vendors/@coreui/icons/css/free.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/simplebar/css/simplebar.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
      <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">
          <span class="sidebar-brand-full"><strong>HANGARIN</strong></span>
        </div>
      </div>
      
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <svg class="nav-icon"><use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-speedometer' %}"></use></svg> Dashboard
          </a>
        </li>
        
        <li class="nav-title">Management</li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task-list' %}"> 
            <svg class="nav-icon"><use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-list-rich' %}"></use></svg> Tasks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-list' %}">
            <svg class="nav-icon"><use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-tags' %}"></use></svg> Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'priority-list' %}">
            <svg class="nav-icon"><use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-flag-alt' %}"></use></svg> Priorities
          </a>
        </li>
      </ul>
      
      <div class="sidebar-footer border-top d-none d-md-flex">     
        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
      </div>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100">
      <header class="header header-sticky p-0 mb-4">
        <div class="container-fluid border-bottom px-4">
          <button class="header-toggler" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg"><use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg#cil-menu' %}"></use></svg>
          </button>
        </div>
      </header>

      <div class="body flex-grow-1">
        <div class="container-lg px-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <footer class="footer px-4">
        <div><strong>Hangarin</strong> Project © 2026</div>
        <div class="ms-auto">Built with Django & CoreUI</div>
      </footer>
    </div>

    <script src="{% static 'vendors/@coreui/coreui/js/coreui.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/js/simplebar.min.js' %}"></script>
    
    <script>
      const header = document.querySelector('header.header');
      document.addEventListener('scroll', () => {
        if (header) {
          header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
      });
    </script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
